@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* list-style: none; */
    font-family: 'Poppins';
}

body {
    background: #e0fbfc;
    /* color: rgb(234, 222, 218) */
}

.header {
    background-color: #293241;
    text-align: center;
    padding: 1rem;
}

.title {
    /* display: inline-block; */
    font-size: 2.5rem;
    line-height: 3.2rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
    margin-bottom: 20px;
    color: #e0fbfc;
}

nav {
    display: inline-block;
}

.navList li {
    margin: 5px;
    list-style: none;
    display: inline-block;
}

.navBtn {
    border-radius: .2rem;
    padding: .2rem;
    color: #ee6c4d;
    transition: .3s all;
}

/* 
.navBtn:hover {
    background-color: #e0fbfc;
    color: #2d2d34;
} */

main {
    margin-top: 50px;
    /* text-align: center; */
    padding: 2rem;
}

footer {
    border-top: 2px solid #2d2d34;
    background: #293241;
    color: #ee6c4d;
}

.mainHeader {
    text-align: center;
    margin-bottom: 20px;
}

.mainHeaderTitle {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.promociones {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.contenedorPromocionesImg {
    height: 600px;
    overflow: scroll;
}

.promocionesImg {
    /* width: 100%; */
    /* aspect-ratio: 80/29; */
}

.productContent {
    width: 100%;
    text-align: center;
}

.productContentTitle {
    margin: 30px 0;
    padding: 0 0 0 15px;
}

.contentCard {
    padding: 10px;
    width: 1300px;
    /* border: 1px solid; */
}

.card {
    width: 350px;
    height: 400px;
    display: inline-block;
    border-radius: 1rem;
    border: 2px solid #3d5a80;
    margin: 5px;
}

.card>img {
    width: 300px;
    height: 250px;
    border-radius: 15px;
    margin-left: 20px;
    padding-top: 20px;
}

.cardInfo {
    width: 100%;
    height: auto;
    padding: 15px;
}

.cardInfo h4 {
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: -0.03rem;
    font-weight: 600;
}

.cardInfo p {
    font-size: .85rem;
    line-height: 1rem;
}

.sucursalContainer {
    text-align: center;
}

.sucursal {
    display: inline-block;
    margin: 20px;
}

.sucursal p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 15px;
}


.contactList li {
    list-style: none;
}

.contacto {
    /* width: 800px; */
    width: 100%;
    text-align: center;
}

.contactoContent {
    width: 800px;
    padding: 10px;
}

.nombre,
.apellido {
    display: inline-block;
    width: 380px;
    padding: 6px;
}

.correo,
.duda,
.mensaje,
.contactBtn {
    width: 764px;
    margin: 10px 0;
    padding: 6px;
}

.contactBtn {
    cursor: pointer;
}

.nuestraExperiencia {
    font-size: 1.2rem;
}

.nuestraExperiencia p {
    margin-top: 12px;
}

.nosotros {
    margin-top: 70px;
}

.nosotros div {
    margin-bottom: 32px;
}

summary {
    font-size: 2rem;
    cursor: pointer;

}

.detailsList {
    padding-left: 20px;
}

.detailsList li {
    list-style: circle;
    margin: 10px 0;
    font-size: 1.3rem;
}

.detailsList li span {
    font-weight: 700;
}

.volver {
    position: sticky;
    bottom: 55px;
    color: #000;
    background-color: #ee6c4d;
    border-radius: 9px;
    padding: 9px;
    font-weight: 700;
    font-size: 1.2rem;
}

footer {
    width: 100%;
    background-color: #293241;
    padding-left: 15px;
    padding-top: 20px;
}

.redesTitle {
    font-size: 1.2rem;
}

.redesList {
    margin-top: 20px;
}

.redesList li {
    list-style: none;
}

.icono {
    width: 32px;
}

small {
    margin-top: 50px;
    display: block;
    text-align: center;
    color: #fafafa;
}

small span {
    font-weight: 700;
}