@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

/* Background color -> #e0fbfc -> body*/
/* Background color -> #293241 -> header - footer */
/* Anchor color ->  color: #ee6c4d -> anchors del header */

/* CSS general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #333;
}


/* POSICIONAMIENTO DE LAS SECCIONES HEADER - MAIN - FOOTER */
body {
    display: grid;
    grid-template-areas:
        'header main main'
        'header main main'
        'footer footer footer';
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

/* Ocultar la navegación para celular */
.mobileMenu {
    display: none;
}

/* HEADER */
.header {
    width: 250px;
    background: #293241;
    padding-top: 2.5rem;
}

.header__title {
    position: sticky;
    top: 15px;
}

.header__title img {
    width: 250px;
}

.header nav {
    position: sticky;
    top: 100px;
}

.header__navList {
    padding-left: 10px;
    width: 100%;
    margin-top: 2rem;
}
.header__navMobileMenu {
    display: none;
}
.header__navList li {
    list-style: none;
    margin: 8px 0;
}

.header__navList--navBtn {
    color: #ee6c4d;
    padding: 6px;
    border-radius: 9px;
    transition: .15s all;
    text-decoration: none;
    font-weight: 600;
}

.header__navList--navBtn:hover {
    background-color: #ee6c4d;
    color: #222;
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    padding-top: 2.5rem;
}

.main__article {
    width: 100%;
}

.main__article--title {
    text-align: center;
    font-weight: 700;
}

.main__productsContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main__productsContainer--title {
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

.main__productsContainer__section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0;
}

.main__productsContainer__section--cardContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.main__productsContainer__section--cardContent--card {
    width: 350px;
    height: 500px;
    border: 1px solid #555;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.main__productsContainer__section--cardContent--card img {
    width: 300px;
    height: 300px;
    border-radius: 1.5rem;
}

.main__productsContainer__section--cardContent--card--cardInfo {
    border-top: 2px solid #293241;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    width: 100%;
}

.main--volver {
    position: sticky;
    bottom: 50px;
    margin-bottom: 25px;
}

/* FOOTER */
.footer {
    height: 180px;
    padding: 1rem;
    background-color: #293241;
    display: grid;
    grid-template-areas:
        'redes others'
        'creator creator';
}

.footer__redes {
    grid-area: redes;
}

.footer__others {
    grid-area: others;
    text-align: right;
    padding-right: 1.5rem;
}

.footer__redes--title,
.footer__others--title {
    font-size: 1rem;
    font-weight: 600;
    color: #fafafa;
}

.footer__redes--title {
    padding-left: 1.4rem;

}

.footer__redes--list li,
.footer__others--list li {
    list-style: none;
    color: #fafafa;
    font-size: .875rem;
    margin: 10px 0;
}

.footer__others--list li {
    margin-right: 10px;
}

.footer__redes--list--icon,
.footer__others--list--icon {
    width: 2rem;
}


.footer__owner {
    grid-area: creator;
    text-align: center;
    width: 100%;
    color: #fafafa;
}

.footer__owner--name {
    color: #ee6c4d;
    font-weight: 600;
}


/* main header */
.main__header--form {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #777;
    border-radius: .5rem;
}

.main__header--form input {
    height: 2.4rem;
    border-radius: .5rem;
    padding: 0 .5rem;
    border: 2px solid #777;
    outline: none;
    background-color: transparent;
    color: #fafafa;
    width: 100%;
}

.main__header--form input::placeholder {
    color: #fafafa;
}

.main__header--form button {
    height: 2.4rem;
    border-radius: .5rem;
    padding: 0 .5rem;
    border: 2px solid #777;
}


/* SUCURSALES */

.main__header {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.main__header--title {
    text-align: center;
    margin: 2rem 0;
}

.main__sucursales {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 4rem 0;
}

.main__sucursales--sucursal {
    width: 350px;
    height: 550;
}

.main__sucursales--sucursal--title {
    font-size: 2.2rem;
    margin: 2rem 0;
    text-align: center;
}

.main__header p {
    margin: 1rem 0;
    font-size: 1.3rem;
}

/* CONTACTO */
.main__contactContainer {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main__contactContainer--contacts li {
    list-style: none;
    margin: 1rem 0;
    font-size: 1.5rem;
}

.main__contactContainer__form {
    width: 100%;
}

.main__contactContainer__form__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 3rem;
}

.main__contactContainer__form__field--title {
    font-size: 1.5rem;
    font-weight: 600;
}

.main__contactContainer__form__field--fullName {
    display: flex;
    gap: 1rem;
}

.main__contactContainer__form__field input {
    width: 100%;
    border-radius: .5rem;
    height: 2.5rem;
    border: 2px solid #293241;
    padding: 0 .5rem;
    font-weight: 600;
}

.main__contactContainer__form__field textarea {
    width: 100%;
    border-radius: .5rem;
    border: 2px solid #293241;
    padding: .5rem;
    resize: none;
    font-weight: 600;
}

.main__contactContainer__form__field--contenedorDuda {
    width: 100%;
}

.main__contactContainer__form__field--contenedorDuda--duda {
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid #293241;
    font-weight: 600;
}

.main__contactContainer__form__field button {
    padding: .5rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    cursor: pointer;
    background-color: #ee6c4d;
    font-weight: 600;
}

.main__contactContainer__form__field button:hover {
    background-color: #293241;
    color: #fafafa;
}

/* NOSOTROS */

.main__header--experiencia {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid #293241;
    padding-top: 2rem;
}

.main__header--experiencia p {
    margin: 0;
    padding: 0;
}

.main__nosotros {
    width: 950px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.main__nosotros__article {
    width: 100%;
    border: 1px solid #293241;
    padding: 1rem;
    border-radius: 5px;
    background-color: #888;
}

.main__nosotros__article--title {
    font-size: 1.5rem;
    color: #fafafa;
}

.main__nosotros__article--list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.main__nosotros__article--list li {
    list-style: none;
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid #293241;
    box-shadow: 3px 3px 0 #293241;
    border-radius: 5px;
    background-color: #fafafa;
}

@media (max-width: 1460px) {
    .main {
        width: 900px;
    }

    .main__productsContainer {
        width: 100%;
        gap: 1rem;
    }

    .main__productsContainer--title {
        margin: 1rem;
    }

    .main__productsContainer__section {
        gap: 1rem;
        margin-top: .5rem;
    }

    .main__productsContainer__section h3 {
        margin: 1rem;
    }

    .header {
        width: 180px;
    }

    .header__title img {
        width: 180px;
    }

    .main__productsContainer__section--cardContent--card {
        width: 250px;
        height: 450px;
    }

    .main__productsContainer__section--cardContent--card img {
        width: 200px;
        height: 200px;
    }

    .mobileMenu {
        display: none;
    }
}

@media (max-width: 1100px) {
    .main {
        width: 100%;
    }
    .main__article--title {
        font-size: 1.5rem;
    }

    .main__productsContainer--title {
        font-size: 1.22rem;
    }
    .mobileMenu {
        display: none;
    }
}

@media (max-width: 990px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .header {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 20px;
    }

    .header__navList {
        display: none;
    }
    .header__title {
        position: static;
    }
    .header__navMobileMenu {
        cursor: pointer;
        background-color: transparent;
        font-size: 2.4rem;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .header__navMobileMenu i {
        color: #ee6c4d;
    }
    .mobileMenu{
        flex-direction: column;
        align-items: end;
        position: absolute;
        height: 100%;
        width: 280px;
        right: 0;
        top: 0;
        background-color: #293241;
        z-index: 10;
        padding-top: 3em;
    }
    .mobileMenu ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .8em;
        margin-top: 4.5rem;
    }
    .mobileMenu--button {
        width: 50px;
        height: 50px;
        position: relative;
        border: 1px solid red;
        font-size: 2rem;
        border: none;
        background-color: transparent;
        border-radius: 100%;
    }
    .mobileMenu--button i {
        color: #ee6c4d;
    }
    .mobileMenu--list{
        list-style: none;
    }
    .mobileMenu--list a{
        color: #ee6c4d;
        text-decoration: none;
        font-weight: 600;
        border-radius: .5rem;
        padding: .5rem 1rem;
        transition: .3s all;
    }
    .mobileMenu--list a:hover {
        background-color: #ee6c4d;
        color: #293241;
    }
}

/* CSS de funcionamiento del Menu */
.flex {
    display: flex;
}
.hidden {
    display: none;
}
