<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechZone</title>

    <!-- BootsTrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- CSS -->
    <link rel="stylesheet" href="../CSS/style.css">

    <!-- JavaScript para funcionamineto de la navegación de celular -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const menuBtn = document.getElementById("menuBtn")
            const menu = document.getElementById("menu")
            const btnCloseMenu = document.getElementById("btnCloseMenu")

            menuBtn.addEventListener("click", ()=>{
                menu.classList.add("flex")
                menu.classList.remove("hidden")
                console.log("hola")
            })

            btnCloseMenu.addEventListener("click", ()=>{
                menu.classList.add("hidden")
                menu.classList.remove("flex")
                console.log("hola")
            })
        })
    </script>

    <!-- SEO -->
    <meta name="description"
        content="Página de TechZone de computadoras de escritorio, computadoras notebook y computadoras todo en uno.">
    <meta name="keywords" content="Pc, gamer, todo en uno, all in one, notebook, córdoba, Santiago del estero, Buenos Aires, gama alta, gama baja, gama media, gama profesional, profesionales">
    <meta name="robots" content="index, follow">
</head>

<body>
    <header class="header" id="header">
        <h2 class="header__title">
            <a href="../index.html">
                <img src="../assets/images/logo/logo.png" alt="Logo de TechZone">
            </a>
        </h2>
        <nav>
            <ul class="header__navList">
                <li><a href="../index.html" class="header__navList--navBtn">Inicio</a></li>
                <li><a href="./computadoras.html" class="header__navList--navBtn">Computadoras</a></li>
                <li><a href="./componentes.html" class="header__navList--navBtn">Componentes</a></li>
                <li><a href="./accesorios.html" class="header__navList--navBtn">Accesorios</a></li>
                <li><a href="./sucursales.html" class="header__navList--navBtn">Sucursales</a></li>
                <li><a href="./contacto.html" class="header__navList--navBtn">Contáctanos</a></li>
                <li><a href="./quienes-somos.html" class="header__navList--navBtn">Quienes somos?</a></li>
            </ul>
            <button id="menuBtn" class="header__navMobileMenu">
                <i class="bx bx-menu"></i>
            </button>
        </nav>
    </header>
    <main class="main">
        <header class="main__header">
            <h1 class="main__header--title">Computadoras</h1>
            <search role="search">
                <form class="main__header--form">
                    <input type="text" name="query" placeholder="Algo específico? Búscalo!">
                    <button>Buscar</button>
                </form>
            </search>
        </header>
        <!-- Los detalles de los productos van a ser como en la página de inicio, éstos serán puestos próximamente -->
        <section class="main__productsContainer">
            <div>
                <h2 class="main__productsContainer--title">Computadoras de escritorio</h2>
                <section class="main__productsContainer__section--cardContent">
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/pc-escritorio/pc-escritorio-1.webp" alt="Computadora gamer">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadora gamer</h3>
                        </div>
                    </article>
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/pc-escritorio/pc-escritorio-2.webp" alt="Computadora gamer">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadora gamer</h3>
                        </div>
                    </article>
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/pc-escritorio/pc-escritorio-3.webp" alt="Computadora gamer">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadora gamer</h3>
                        </div>
                    </article>
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/pc-escritorio/pc-escritorio-4.webp" alt="Computadora gamer">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadora gamer</h3>
                        </div>
                    </article>
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/pc-escritorio/pc-escritorio-5.jpg" alt="Computadora gamer">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadora gamer</h3>
                        </div>
                    </article>
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/pc-escritorio/pc-escritorio-6.webp" alt="Computadora gamer">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadora gamer</h3>
                        </div>
                    </article>
                </section>
            </div>
            <div>
                <h2 class="main__productsContainer--title">Computadoras notebooks</h2>
                <section class="main__productsContainer__section--cardContent">
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/notebooks/notebook-1.webp" alt="Notebooks gamers">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadora notebook gamer</h3>
                        </div>
                    </article>
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/notebooks/notebook-2.webp" alt="Notebooks gamers">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadora notebook gamer</h3>
                        </div>
                    </article>
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/notebooks/notebook-3.webp" alt="Notebooks gamers">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadora notebook gamer</h3>
                        </div>
                    </article>
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/notebooks/notebook-4.webp" alt="Notebooks gamers">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadora notebook gamer</h3>
                        </div>
                    </article>
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/notebooks/notebook-5.webp" alt="Notebooks gamers">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadora notebook gamer</h3>
                        </div>
                    </article>
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/notebooks/notebook-6.webp" alt="Notebooks gamers">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadora notebook gamer</h3>
                        </div>
                    </article>
                </section>
            </div>
            <div>
                <h2 class="main__productsContainer--title">Computadoras todo en uno</h2>
                <section class="main__productsContainer__section--cardContent">
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/todo-en-uno/ten-1.webp" alt="Computadoras todo en uno">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadoras todo en uno</h3>
                        </div>
                    </article>
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/todo-en-uno/ten-2.webp" alt="Computadoras todo en uno">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadoras todo en uno</h3>
                        </div>
                    </article>
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/todo-en-uno/ten-3.webp" alt="Computadoras todo en uno">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadoras todo en uno</h3>
                        </div>
                    </article>
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/todo-en-uno/ten-4.webp" alt="Computadoras todo en uno">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadoras todo en uno</h3>
                        </div>
                    </article>
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/todo-en-uno/ten-5.webp" alt="Computadoras todo en uno">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadoras todo en uno</h3>
                        </div>
                    </article>
                    <article class="main__productsContainer__section--cardContent--card">
                        <img src="../assets/images/computadoras/todo-en-uno/ten-6.webp" alt="Computadoras todo en uno">
                        <div class="main__productsContainer__section--cardContent--card--cardInfo">
                            <h3>Computadoras todo en uno</h3>
                        </div>
                    </article>
                </section>
            </div>
        </section>
        <a href="#header" class="main--volver btn btn-primary">Volver arriba</a>
    </main>
    <aside id="menu" class="mobileMenu">
        <button id="btnCloseMenu" class="mobileMenu--button">
            <i class='bx bx-x-circle'></i>
        </button>
        <ul>
            <li class="mobileMenu--list"><a href="../index.html">Inicio</a></li>
            <li class="mobileMenu--list"><a href="./computadoras.html">Computadoras</a></li>
            <li class="mobileMenu--list"><a href="./componentes.html">Componentes</a></li>
            <li class="mobileMenu--list"><a href="./accesorios.html">Accesorios</a></li>
            <li class="mobileMenu--list"><a href="./sucursales.html">Sucursales</a></li>
            <li class="mobileMenu--list"><a href="./contacto.html">Contáctanos</a></li>
            <li class="mobileMenu--list"><a href="./quienes-somos.html">Quienes somos</a></li>
        </ul>
    </aside>
    <footer class="footer">
        <section class="footer__redes">
            <h2 class="footer__redes--title">Redes sociales</h2>
            <ul class="footer__redes--list">
                <li>
                    <img src="../assets/images/iconos/instagram-icon.png" alt="Icono de instagram"
                        class="footer__redes--list--icon">
                    Instagram
                </li>
                <li>
                    <img src="../assets/images/iconos/twitter-icon.png" alt="Icono de twitter"
                        class="footer__redes--list--icon">
                    Twitter
                </li>
            </ul>
        </section>
        <article class="footer__others">
            <h2 class="footer__others--title">Redes sociales</h2>
            <ul class="footer__others--list">
                <li>
                    GitHub
                    <img src="../assets/images/iconos/github-icon.png" alt="Icono de GitHub"
                        class="footer__others--list--icon">
                </li>
                <li>
                    LinkedIn
                    <img src="../assets/images/iconos/linkedin-icon.png" alt="Icono de GitHun"
                        class="footer__others--list--icon">
                </li>
            </ul>
        </article>
        <small class="footer__owner">Created by <span class="footer__owner--name">Santiago Mustafa Font</span></small>
    </footer>
</body>

</html>