<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechZone - Componentes de computadora</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../CSS/style.css">
</head>

<body>
    <header class="header" id="header">
        <h2 class="title">TechZone</h2>
        <nav>
            <ul class="navList">
                <li><a href="../index.html" class="navBtn">Inicio</a></li>
                <li><a href="./computadoras.html" class="navBtn">Computadoras</a></li>
                <li><a href="./componentes.html" class="navBtn">Componentes</a></li>
                <li><a href="./accesorios.html" class="navBtn">Accesorios</a></li>
                <li><a href="./sucursales.html" class="navBtn">Sucursales</a></li>
                <li><a href="./contacto.html" class="navBtn">Contáctanos</a></li>
                <li><a href="./quienes-somos.html" class="navBtn">Quienes somos?</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <header class="mainHeader">
            <h1 class="mainHeaderTitle">Componentes</h1>
            <search>
                <form class="form">
                    <input type="text" name="query" id="search" placeholder="Algo específico? Búscalo!">
                    <button>
                        Buscar
                    </button>
                </form>
            </search>
        </header>
        <!-- Los detalles de los productos van a ser como en la página de inicio, éstos serán puestos próximamente -->
        <section class="productContent">
            <div>
                <h2 class="productContentTitle">Procesadores</h2>
                <section class="contentCard">
                    <article class="card">
                        <img src="../imagenes/componentes/procesadores/intel-celeron.webp" alt="Procesador intel">
                        <div class="cardInfo">
                            <h3>Procesador intel celeron</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/procesadores/intel-i3.webp" alt="Procesador intel">
                        <div class="cardInfo">
                            <h3>Procesador intel i3 - novena generación</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/procesadores/intel-i5.webp" alt="Procesador intel">
                        <div class="cardInfo">
                            <h3>Procesador intel i5 - novena generación</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/procesadores/intel-i7.webp" alt="Procesador intel">
                        <div class="cardInfo">
                            <h3>Procesador intel i7 - novena generación</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/procesadores/intel-i9.webp" alt="Procesador intel">
                        <div class="cardInfo">
                            <h3>Procesador intel i9 - novena generación</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/procesadores/amd-3.jpg" alt="Procesador amd">
                        <div class="cardInfo">
                            <h3>Procesador AMD Ryzen 3 - tercera generación</h3>
                        </div>
                    </article>
                </section>
            </div>
            <div>
                <h2 class="productContentTitle">Placas madre</h2>
                <section class="contentCard">
                    <article class="card">
                        <img src="../imagenes/componentes/placas-madre/placa-madre-amd-1.webp" alt="Placa madre">
                        <div>
                            <h3>Placa madre para procesador AMD Ryzen</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/placas-madre/placa-madre-amd-2.webp" alt="Placa madre">
                        <div>
                            <h3>Placa madre para procesador AMD Ryzen</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/placas-madre/placa-madre-amd-3.webp" alt="Placa madre">
                        <div>
                            <h3>Placa madre para procesador AMD Ryzen</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/placas-madre/placa-madre-amd-4.webp" alt="Placa madre">
                        <div>
                            <h3>Placa madre para procesador AMD Ryzen</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/placas-madre/placa-madre-intel-1.webp" alt="Placa madre">
                        <div>
                            <h3>Placa madre para procesador intel</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/placas-madre/placa-madre-intel-2.webp" alt="Placa madre">
                        <div>
                            <h3>Placa madre para procesador intel</h3>
                        </div>
                    </article>
                </section>
            </div>
            <div>
                <h2 class="productContentTitle">Memorias Ram</h2>
                <section class="contentCard">
                    <article class="card">
                        <img src="../imagenes/componentes/memorias-ram/memoria-ram-1.webp" alt="Memoria ram">
                        <div>
                            <h3>Memoria ram</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/memorias-ram/memoria-ram-2.webp" alt="Memoria ram">
                        <div>
                            <h3>Memoria ram</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/memorias-ram/memoria-ram-3.webp" alt="Memoria ram">
                        <div>
                            <h3>Memoria ram</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/memorias-ram/memoria-ram-4.webp" alt="Memoria ram">
                        <div>
                            <h3>Memoria ram</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/memorias-ram/memoria-ram-5.webp" alt="Memoria ram">
                        <div>
                            <h3>Memoria ram</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/memorias-ram/memoria-ram-6.webp" alt="Memoria ram">
                        <div>
                            <h3>Memoria ram</h3>
                        </div>
                    </article>
                </section>
            </div>
            <div>
                <h2 class="productContentTitle">Almacenamiento</h2>
                <section class="contentCard">
                    <article class="card">
                        <img src="../imagenes/componentes/almacenamiento/hdd-1.webp" alt="Almacenamiento hdd">
                        <div>
                            <h3>Almacenamiento HDD</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/almacenamiento/hdd-2.webp" alt="Almacenamiento hdd">
                        <div>
                            <h3>Almacenamiento HDD</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/almacenamiento/hdd-3.webp" alt="Almacenamiento hdd">
                        <div>
                            <h3>Almacenamiento HDD</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/almacenamiento/hdd-4.webp" alt="Almacenamiento hdd">
                        <div>
                            <h3>Almacenamiento HDD</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/almacenamiento/ssd-1.webp" alt="Almacenamiento ssd">
                        <div>
                            <h3>Almacenamiento SSD</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/almacenamiento/ssd-2.webp" alt="Almacenamiento sdd">
                        <div>
                            <h3>Almacenamiento SSD</h3>
                        </div>
                    </article>
                </section>
            </div>
            <div>
                <h2 class="productContentTitle">Gabinetes</h2>
                <section class="contentCard">
                    <article class="card">
                        <img src="../imagenes/componentes/gabinetes/gabinete-1.webp" alt="Gabinete gamer">
                        <div>
                            <h3>Gabinete</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/gabinetes/gabinete-2.webp" alt="Gabinete gamer">
                        <div>
                            <h3>Gabinete</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/gabinetes/gabinete-3.webp" alt="Gabinete gamer">
                        <div>
                            <h3>Gabinete</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/gabinetes/gabinete-4.webp" alt="Gabinete gamer">
                        <div>
                            <h3>Gabinete</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/gabinetes/gabinete-5.webp" alt="Gabinete gamer">
                        <div>
                            <h3>Gabinete</h3>
                        </div>
                    </article>
                    <article class="card">
                        <img src="../imagenes/componentes/gabinetes/gabinete-6.webp" alt="Gabinete gamer">
                        <div>
                            <h3>Gabinete</h3>
                        </div>
                    </article>
                </section>
            </div>
        </section>
        <a href="#header" class="volver">Volver arriba</a>
    </main>
    <footer>
        <div class="redes">
            <h2 class="redesTitle">Redes sociales</h2>
            <ul class="redesList">
                <li>
                    <img src="../imagenes/iconos/instagram-icon.png" alt="Icono de instagram, obtenido de icons8.com"
                        class="icono">
                    Instagram
                </li>
                <li>
                    <img src="../imagenes/iconos/twitter-icon.png" alt="Icono de twitter, obtenido de icons8.com"
                        class="icono">
                    Twitter
                </li>
                <li>
                    <img src="../imagenes/iconos/facebook-icon.png" alt="Icono de facebook, obtenido de icons8.com"
                        class="icono">
                    Facebook
                </li>
            </ul>
        </div>
        <small>Página creada por <span class="creador">Santiago Mustafa Font</span> - CoderHouse desarrollo web</small>
    </footer>
</body>

</html>