* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* list-style: none; */
}

body {
    /* background: rgb(45, 45, 52); */
    /* color: rgb(234, 222, 218) */
}

.header {
    padding-left: 1rem;
    border-right: 2px solid #777;
    width: 13rem;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #fafafa;
}

.title {
    font-size: 2.5rem;
    line-height: 3.2rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
    margin-bottom: 20px;
}

.navList li {
    margin: 5px;
    list-style: none;
}

.navBtn {
    border-radius: .2rem;
    padding: .2rem;
    color: #cc3f0c;
    transition: .3s all;
}

.navBtn:hover {
    background-color: #db653a;
    color: #2d2d34;
}

main,
footer {
    margin-left: 250px;
}

main {
    margin-top: 50px;
    width: 1200px;
}

footer {
    border-top: 2px solid #2d2d34;
}

.mainHeader {
    text-align: center;
    margin-bottom: 20px;
}

.mainHeaderTitle {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.promociones {
    width: 1100px;
    text-align: center;
    margin-bottom: 100px;
}

.contenedorPromocionesImg {
    height: 370px;
    overflow: auto;
}

.promocionesImg {
    width: 100%;
    aspect-ratio: 80/29;
}

.productContent {
    width: 1200px;
}

.productContentTitle {
    margin: 30px 0;
    padding: 0 0 0 15px;
}

.contentCard {
    padding: 10px;
}

.card {
    width: 350px;
    height: 400px;
    display: inline-block;
    transition: .19s all;
    border-radius: 1rem;
    border: 1px solid #9995;
    box-shadow: 0px 0px 12px #555 inset;
    margin: 5px;
}

.card:hover {
    transform: translateY(-8px);
}

.card>img {
    width: 300px;
    height: 250px;
    border-radius: 15px;
    margin-left: 20px;
    padding-top: 20px;
}

.cardInfo {
    width: 100%;
    height: auto;
    padding: 15px;
}

.cardInfo h4 {
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: -0.03rem;
    font-weight: 600;
}

.cardInfo p {
    font-size: .85rem;
    line-height: 1rem;
}

.contacto {
    width: 800px;
}

.contactoContent {
    width: 800px;
    padding: 10px;
}

.nombre,
.apellido {
    display: inline-block;
    width: 380px;
    padding: 6px;
}

.correo,
.duda,
.mensaje,
.contactBtn {
    width: 764px;
    margin: 10px 0;
    padding: 6px;
}

.contactBtn {
    cursor: pointer;
}

details {
    list-style: georgian;
}

summary {
    font-size: 2rem;
}

.detailsList {
    padding-left: 20px;
}

.detailsList li {
    list-style: circle;
    margin: 10px 0;
    font-size: 1.3rem;
}

.detailsList li span {
    font-weight: 700;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding-left: 15px;
    background-color: #fafafa;
    z-index: 10;
}

.redesList li {
    list-style: none;
}

small {
    display: block;
    text-align: center;
}